.font-weight-thin {
  font-weight: $font-weight-thin !important;
}
.font-weight-semiBold{
  font-weight: $font-weight-semi-bold !important;
}
.font-weight-extraBold{
  font-weight: $font-weight-extra-bold !important;
}