// Shadows 
// Default value for dropShadowPStoCSS mixins
// $ps_red: 0,
// $ps_green: 0,
// $ps_blue: 0,
// $ps_opacity: 75,
// $ps_angle: 120,
// $ps_distance: 5,
// $ps_spread: 0,
// $ps_size: 5


.shadow-v1 {
  @include dropShadowPStoCSS( 176, 177, 193, 10, 90, 5, 0, 5);
}


.shadow-v2 {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
}

.shadow-v3 {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}


.hover#{"\\:"}shadow-v3{
  &:hover{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  }
}


// testing shadow 
// v1 -  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125) !important;
// v2 -  box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.175) !important;
// v3-   box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;



.shadow-primary {
  box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, primary), .25);
  &--hover {
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, primary), .25);
    }
  }
}


.shadow-danger {
  box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, danger), .30); 
  &--hover {
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, danger), .30);
    }
  }
}


.shadow-success {
  box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, success), .30);
  &--hover {
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba( map-get($theme-colors, success), .30);
    }
  }
}


.shadow-info {
  box-shadow: 0px 10px 10px 0px rgba( map-get($theme-colors, info), .20);
  &--hover {
    &:hover {
      box-shadow: 0px 10px 10px 0px rgba( map-get($theme-colors, info), .20);
    }
  }
}


.shadow-warning {
  box-shadow: 0px 10px 10px 0px rgba( map-get($theme-colors, warning), .30);
  &--hover {
    &:hover {
      box-shadow: 0px 10px 10px 0px rgba( map-get($theme-colors, warning), .30);
    }
  }
}


.shadow-dark {
  box-shadow: 0px 5px 20px 0px rgba( map-get($theme-colors, dark), .30);
  &--hover {
    &:hover {
      box-shadow: 0px 5px 20px 0px rgba( map-get($theme-colors, dark), .30);
    }
  }
}



