.ec-video-container{
  height: 0;
  padding-top: 25px;
  padding-bottom: 53%;
  position: relative;
  overflow: hidden;
  embed,
  iframe,
  object,
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
  }
   
}
