.site-header {
  @media(max-width:576px){
   font-size: 14px;
    .list-inline-item.p-3.border-right{
      padding: 10px !important;
      font-size: 13px;
    }
  }
}
.site-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  transform: scale(.96);
  opacity: 0;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
  }
  &__close {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),progress
  }
  .form-control {
    max-width: 500px;
  }
}

.form-site-search {
  z-index: 9999;
  @media(min-width:576px){
    min-width: 500px;
  }
}


