{% extends 'BackOffice/base.html.twig' %}
{% block title %}Admin - Product {% endblock %}
{% block container %}

    <div class="container-fluid">

        <!--Start Dashboard Content-->

        <!--<div class="card mt-3">-->
        <!-- <div class="card-content">-->
        <div class="row row-group m-0">
{#            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}#}
            <div class="row">
{#                <div class="col">#}
                    <br>
                    <h5>Edit User Role</h5>
                    <br>
                    <div class="col-12 col-lg-12">
                        {{ form(userForm) }}
                    </div>


{#                </div>#}



            </div>

        </div>
    </div>

    <!--</div>-->
    <!--  </div>-->
    </div>
    <!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
{% endblock %}
